<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>

{{#each comments as |comment| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <p>{{comment.user.name}} on {{format_date article.date_created}} said</p>
  </div>
  <div class="col-md-7">
    <p>
      <a href="/comment/{{comment}}">{{article.title}}</a>
      {{comment}}
    </p>
  </div>
</div>
{{/each}}


<div class="text-center">
  <form class="form new-comment-form" id="submitbtn">      
        <input id="commentPostId" type="hidden" value="{{id}}"/>
      <label for="comment">Say Somethin</label>
      </br>
      <textarea id="comment" type="text" name="comment" rows="4" cols="34">        
      </textarea>
      </br>
        <button type="submit" name="name-submit">send it</button>
    </form>
  </br>
</div>

<script src="/js/comment.js"></script>